
/* About me page module */

.about-me {
    padding: 48px 24px;
}
  
.profile-img {
border-radius: 50%;
width: 250px;
margin: 16px;
vertical-align: middle;
}

.profile-img-container {
    @media (max-width: 411px) {
    text-align: center;
    }
}

.odd-img-container {
    @media (min-width: 412px) {
    float: left;   
    }
}

.even-img-container {
    @media (min-width: 412px) {
    float: right;   
    }
}

.section-separated {
    @media (min-width: 412px) {
    clear: left;   
    }
}
